<div class="inventario-container">
  <div class="header">
    <h2>Inventario</h2>
    <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar producto" class="search-box" />
  </div>

  <!-- Encabezados -->
  <div class="producto-card encabezado">
    <div class="producto-info">Producto</div>
    <div class="cantidad">Cantidad</div>
    <div class="status">Activo</div>
    <div class="acciones">Acciones</div>
  </div>

  <div *ngFor="let producto of productosFiltrados()" class="producto-card">
    <div class="producto-info">
      <i class="bi bi-box-seam me-2"></i>
      <span class="nombre">{{ producto.nombre }}</span>
    </div>
    <span class="cantidad">{{ producto.cantidad }}</span>
    <div class="status">
      <label class="switch">
        <input type="checkbox" [(ngModel)]="producto.activo" (change)="cambiarStatus(producto)" />
        <span class="slider"></span>
      </label>
    </div>
    <div class="acciones">
      <button class="ajustar-stock" (click)="ajustarStock(producto)">Ajustar stock</button>
      <button class="eliminar" (click)="eliminarProducto(producto)">Eliminar</button>
      <button class="editar" (click)="editarProducto(producto)">Editar ➤</button>
    </div>
  </div>

  <div class="footer d-flex align-items-center">
    <button class="agregar ms-auto" (click)="agregarProducto()">
      Agregar Producto
    </button>
  </div>
</div>