:host {
  display: block;
  height: 100vh;
  background-image: url('/assets/FONDO.png');
  background-size: 500px; /* Tamaño más chico para que se vean más íconos */
  background-repeat: repeat; /* Que se repita */
  background-position: top left;
}

.container-formulario {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 14px;
}

.checkbox {
  display: flex;
  align-items: center;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
